### Set

In [1]:
empty_set = {}
empty_set

{}

In [2]:
my_set = {'a' , 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [3]:
my_set = {'a' , 'b', 'c', 'a' , 'b', 'c'}   # set elements are duplicate and removed automatically
my_set

{'a', 'b', 'c'}

In [5]:
my_mixed_set = {True, 'a', "2", 'b', 3, 'c', 1.1, 1} 
my_mixed_set

{1.1, '2', 3, True, 'a', 'b', 'c'}

In [6]:
my_mixed_set = {True, 1, False}

In [7]:
my_mixed_set

{False, True}

In [8]:
type(my_set)

set

In [9]:
len(my_mixed_set)

2

In [10]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [11]:
my_set[:]

TypeError: 'set' object is not subscriptable

In [12]:
my_set[0] = "A"

TypeError: 'set' object does not support item assignment

In [13]:
my_set = {'mumbai', 'pune', 'solapur'}  #create a set of cities
print(my_set)
print(type(my_set))

{'mumbai', 'solapur', 'pune'}
<class 'set'>

In [14]:
my_new_list = list(my_set) # use list() to convert a set into list
print(my_new_list)
print(type(my_new_list))

['mumbai', 'solapur', 'pune']
<class 'list'>

In [15]:
my_new_list [0]

'mumbai'

In [16]:
my_new_list [0] = "delhi"

In [17]:
my_new_list

['delhi', 'solapur', 'pune']

In [18]:
country_set = {"India", "US", "US", "India"}
country_set   #set has only two elements "India" and "US"

{'India', 'US'}

In [20]:
country_set.add('China')
country_set  #set has three elements "India" ,"US" & "UK"

{'China', 'India', 'UK', 'US'}

In [21]:
country_set.remove("China")  # remove 
country_set  #set has only two elements "India" and "US"

{'India', 'UK', 'US'}

In [22]:
country_set.remove("China")

KeyError: 'China'

In [23]:
country_set.discard("China")

In [24]:
country_set.discard("UK")

In [25]:
country_set

{'India', 'US'}

In [26]:
test_set = {1, 2, 3, 4, 5}

In [27]:
test_set

{1, 2, 3, 4, 5}

In [28]:
test_set.pop()   # removes first element from set i.e. 1
test_set

{2, 3, 4, 5}

In [29]:
test_set.pop(2)   # removes first element from set i.e. 1
test_set

TypeError: set.pop() takes no arguments (1 given)

In [30]:
test_set.clear()
test_set

set()

In [31]:
"India" in country_set

True

In [32]:
"India" not in country_set

False

In [33]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [34]:
maharashtra_cities & western_region_cities  # common cities between two sets

{'Mumbai', 'Nagpur', 'Pune'}

In [35]:
western_region_cities  & maharashtra_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [36]:
maharashtra_cities & goa_cities  # common cities between two sets, nothing common

set()

In [37]:
western_region_cities.intersection(maharashtra_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [38]:
western_region_cities.intersection(goa_cities)

{'Panjim', 'Vasco'}

In [39]:
western_region_cities - maharashtra_cities

{'Panjim', 'Vasco'}

In [40]:
western_region_cities - goa_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [41]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

In [43]:
western_region_cities.difference(goa_cities)

{'Mumbai', 'Nagpur', 'Pune'}

In [44]:
maharashtra_cities | western_region_cities  # all cities between two sets

{'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [45]:
maharashtra_cities |  goa_cities

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [46]:
maharashtra_cities.union(goa_cities)

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [48]:
languages = {'python', 'java', 'c', 'c++'}
ds_languages = {"python", 'r'}

#(a) What are all programming languages are available?
print("All languages    " , languages | ds_languages)
print()

#(b) How many data science languages are available?
print("Data Science languages count   " , len(ds_languages))
print()

#(c) List languages which are not data science languages?
print("Languages which are not data science languages    " , languages - ds_languages)
print()

#(d) List languages which are both programming language and data science languages.
print("languages which are both programming language and data science languages    " , languages & ds_languages)
print()


#(e) List languges which are only data science languages.
print("Only data science languages    " , ds_languages - languages)
print()

All languages     {'python', 'c', 'r', 'java', 'c++'}

Data Science languages count    2

Languages which are not data science languages     {'c', 'java', 'c++'}

languages which are both programming language and data science languages     {'python'}

Only data science languages     {'r'}

In [49]:
ds_languages - languages

{'r'}

In [50]:
languages - ds_languages

{'c', 'c++', 'java'}

In [51]:
MY_STRING = " JASHMIN"
STRING_SET = set(MY_STRING)

In [52]:
STRING_SET

{' ', 'A', 'H', 'I', 'J', 'M', 'N', 'S'}

In [53]:
for i in languages:
    print(i)

python
java
c
c++

In [54]:
set1 = {1,2,3,4,5,6,7,1,2,3,4}

In [55]:
for i in set1:
    print(i)

1
2
3
4
5
6
7